body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto 10px;
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    color: #00008B;
}

nav {
    background-color: #4B0082;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #00008B;
    border-radius: 20px;
    background-color: #00008B;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #00008B;
    color: #fff;
}

main {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.game-card img {
    max-width: 100%;
    height: auto;
}

/* Otras reglas de estilo para el contenido principal, según sea necesario */
